.OpeningLine {
  font-size: 20px;
  color:rgb(109, 109, 104);
  font-family: 'Courier New', Courier, monospace;
}

.foods {
  font-size: 18px;
  color:rgb(106, 80, 131);
  font-family: 'Times New Roman', Times, serif;
}

